<%- include('partials/header.ejs') %> 
<body>
    <div class="container form">
        <form method="POST" action="/user/create">
            <div class="card">
                <div class="card-header">
                    <h1 id="h1form">Criar Usuário</h1>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="titulo">Login</label>
                        <input type="text" class="form-control" name="login" autofocus="autofocus" onfocus="this.select()" required/>
                    </div>
                    <div class="form-group">
                        <label for="titulo">Senha</label>
                        <input type="password" name="password" class="form-control" required/>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-block">Criar Usuário</button>
                </div>
            </div>
        </form>
    </div>
</body>
<%- include('partials/footer.ejs') %> 